# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Database
*.db
*.sqlite

# Prisma
prisma/migrations/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
